{% extends 'eventlapse/base.html' %}
{% load staticfiles %}

{% block head_end_block %}
    {{ block.super }}
    <style>
        .bar rect {
            fill: steelblue;
            shape-rendering: crispEdges;
        }

        .bar text {
            fill: #fff;
        }

        .axis path, .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
    </style>
{% endblock head_end_block %}

{% block body_block %}
    <div class="container">
        <h2>Welcome to eventlapse @ RTS!</h2>
        <div id="map" class="map"></div>
        <div>
            <div id="chart" class="" style="margin-top: 30px;"></div>
            <script>
                var dataset; // a global
                d3.json("http://eventlapse-prod.herokuapp.com/api/articlecounts/", function(error, json) {
                    if (error) return console.warn(error);
                    dataset = json;
                    var w = 1200, h = 200;
                    //Create SVG element
                    var svg = d3.select("#chart")
                            .append("svg")
                            .attr("width", w)
                            .attr("height", h)
                            .attr("transform", "translate(0," + h + ")");;

                    var xLabels = d3.time.scale().domain([new Date(2010, 11, 1), new Date(2016, 0, 1)]).range([0, w]);
                    var xScale = d3.scale.linear().domain([0, dataset.length]).range([0, w]);
	                var yScale = d3.scale.linear().domain([0, d3.max(dataset, function (d) {
                            return d.count;
                        })])
                            .range([0, h]);

                    var xAxis = d3.svg.axis().scale(xLabels).ticks(d3.time.months).tickFormat(d3.time.format("%B")).tickSize(-h).tickSubdivide(true);
                    svg.append("svg:g")
                          .attr("class", "x axis")
                          .attr("transform", "translate(0," + h + ")")
                          .call(xAxis);

                    var yAxisLeft = d3.svg.axis().scale(yScale).ticks(7).tickFormat("%.f").orient("left");

                    svg.append("svg:g")
                          .attr("class", "y axis")
                          .attr("transform", "translate(0," + h + ")")
                          .call(yAxisLeft);


                    // Add a group for each row of data
                    var groups = svg.selectAll("g.y")
                            .data(dataset)
                            .enter()
                            .append("g")
                            .style("fill", function(d, i) {
                                return "#000";
                            });

                    // Add a rect for each data value
                    var rects = svg.selectAll("rect")
                            .data(dataset)
                            .enter()
                            .append("rect")
                            .attr("x", function(d, i) {

                                return xScale(i);
                            })
                            .attr("y", function(d) {

                                return yScale(0);
                            })
                            .attr("height", function(d) {
                                console.log("rect", yScale(d.count));
                                return yScale(d.count);
                            })
                            .attr("width", 5)
                            .style("fill", "#000");


                });

            </script>
        </div>
        <section class="grid scrollable">
            <div class="grid__item sm-w-1/2">
                Here goes the news
            </div>
            <div class="grid__item sm-w-1/2">
                Here goes the twitter feed
            </div>
        </section>
    </div>
{% endblock body_block %}

{% block javascript_block %}
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
    <script>
        // get the viz.json url from the CartoDB Editor
        // - click on visualize
        // - create new visualization
        // - make visualization public
        // - click on publish
        // - go to API tab

        window.onload = function() {
            cartodb.createVis('map', 'http://documentation.cartodb.com/api/v2/viz/2b13c956-e7c1-11e2-806b-5404a6a683d5/viz.json');
        }
    </script>
{% endblock javascript_block %}
