{% load staticfiles %}

<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<!-- JS Plugins -->
<script type="text/javascript" src="{% static 'snackbarjs/dist/snackbar.min.js' %}"></script>


<!-- Angular Google Maps -->
<script type="text/javascript" src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script type="text/javascript" src="{% static 'lodash/lodash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-simple-logger/dist/index.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-google-maps/dist/angular-google-maps.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-bootstrap/ui-bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>

<!-- Angular WebApp -->
<script type="text/javascript" src="{% static 'webapp/javascripts/webapp.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/javascripts/webapp.filters.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/javascripts/webapp.config.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/javascripts/webapp.routes.js' %}"></script>

<!-- Angular WebApp: Layout -->
<script type="text/javascript" src="{% static 'webapp/javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/javascripts/layout/services/alerts.service.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/javascripts/layout/services/articles.service.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/javascripts/layout/services/tweets.service.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/javascripts/layout/controllers/index.controller.js' %}"></script>
