<div class="container">
    <h2>Welcome to eventlapse @ RTS!</h2>

    <div class="map">
        <div id="map" class="map__container"></div>
    </div>
    <div id="slider"></div>
    <div id="chart"></div>

    <h2 class="text-center">{{ date | date:'dd MM yyyy' }}</h2>
    <section class="grid scrollable">
        <div class="grid__item sm-w-1/2">
            <div id="articles-container" ng-repeat="article in articles track by $index">
                <a class="card mrgb {{ $index%2 == 0 && 'highlight' }}" target="_blank" href="{{ article.article_url }}" rel="external">
                    <figure class="card__container">
                        <!-- {{ article.photo_url }}/16x9/scale/width/100 -->
                        <img ng-src="/static/eventlapse/placeholder.jpeg" class="card__container__img img-responsive">
                        <figcaption class="box">
                            <h3 class="card__container__title">{{ article.title }}</h3>
                            <ul class="card__container__meta-data list">
                                <li>Publié le {{ article.date | date:'dd.mm.yy à HH:mm' }}</li>
                            </ul>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </section>

</div>